<view class="container">
  <!-- <block wx:if="{{needLogin}}">
    <view class='noContent'>
      <image src='../../img/noAccount.png' class='noAccount'></image>
      <view>海码王少儿编程需要您的微信授权才能正常使用的哦~</view>
      <button class='submitBtn' open-type="getUserInfo" bindgetuserinfo="onGotUserInfo">微信登录</button> 
    </view>
  </block> -->
</view>
