<wxs src="../util.wxs" module="tools" />
<view class="coursePage">
  <view class='homeImg' style='padding-bottom: {{buyFlag == 1 ? "110rpx" : "0"}};'>
    <image src='../../img/home1.png' mode='widthFix'></image>
    <image src='../../img/home2.png' mode='widthFix'></image>
    <image src='../../img/home3.png' mode='widthFix'></image>
    <image src='../../img/home4.png' mode='widthFix'></image>
    <image src='../../img/home5.png' mode='widthFix'></image>
    <image src='../../img/home6.png' mode='widthFix'></image>
    <image src='../../img/home7.png' mode='widthFix'></image>
    <image src='../../img/home8.png' mode='widthFix'></image>
  </view>

  <view class='buyTab' wx:if="{{buyFlag == 1}}">
    <view>¥<text style='font-size: 48rpx;font-weight: bold;'>{{times.courseInfoList[curTimes].realPrice}}元</text>/{{times.courseInfoList[0].courseLessonCount}}次课</view>
    <button wx-if="{{loginstate=='needLogin'}}" open-type="getUserInfo" bindgetuserinfo="onGotUserInfo" class='buybtn'>
      <image src='../../img/loginBtn.png' class='buyImg'></image>
    </button>
    <button wx-if="{{loginstate=='hasLogin' && needBindTel}}" open-type="getPhoneNumber" class='buybtn' lang="zh_CN" bindgetphonenumber="onGotUserPhone">
      <image src='../../img/buybtn.png' class='buyImg'></image>
    </button>
    <image wx-if="{{loginstate=='hasLogin' && !needBindTel}}" bindtap='showTimes' src='../../img/buybtn.png' class='buyImg'></image>
  </view>
  <view class='shareBtn' wx:else>
    <button open-type='share'>
      <image src='../../img/share.png' class='shareImg'></image>
      分享给朋友
    </button>
  </view>

   <!-- 选择期次 确认订单 -->
  <view wx:if="{{showTimes}}" class='timesBody'>
    <view class='timesBack' bindtap='showTimes'></view>
    <view class='timesCon {{showTimes ? "showTimes" : ""}}'>
      <view class='timesClose'>
        <image src='../../img/close.png' class='closeIcon' bindtap='showTimes'></image>
      </view>
      <view class='timesBodyCon'>
        <view class='timesTop'>
          <image src='{{times.courseInfoList[curTimes].coverUrl}}' class='timesImg'></image>
          <view>
            <view class='timesTit'>{{times.courseInfoList[curTimes].name}}</view>
            <view class='timesPrice'>
              ¥<text>{{times.courseInfoList[curTimes].realPrice}}</text>
              <text>¥{{times.courseInfoList[curTimes].price}}</text>
            </view>
            <view class='timesBtn'>限时特惠</view>
          </view>
        </view>
        <view style='margin-bottom: 42rpx;'>
          <view class='timesConTit'>选择课程期次</view>
          <view class='timesList'>
            <view wx:for="{{times.courseInfoList}}" class='{{curTimes == index ? "active" : ""}}' bindtap='chooseTimes' data-index="{{index}}">{{item.issue}}</view>
          </view>
        </view>
        <view>
          <view class='timesConTit'>上课时间</view>
          <view class='timesList'>
            <view class='active'>{{tools.turnToDate(times.courseInfoList[curTimes].teachStartAt)}}-{{tools.turnToDate(times.courseInfoList[curTimes].teachEndAt)}}</view>
          </view>
        </view>
        <view class='timesTip'>
          <image src='../../img/timetips.png' class='tips'></image>
          在线辅导时间：周一至周五 9:00-22:00 周末全天
        </view>
        <view class='submitBtn' bindtap='confirmPay' style='margin-top: 50rpx;'>确认选课</view>
      </view>
      
    </view>
  </view>
</view>
