<wxs src="../../util.wxs" module="tools" />
<view class='learningPage'>
  <block wx:if="{{showCon}}">

  <!-- 已购买课程 -->
  <!-- <view wx:if="{{courseList.length > 0}}"> -->
    <view class='learnTop'>
      <image src='../../../img/learnBack.png' class='learnBack'></image>
      <view class='topCon' wx:if="{{courseInfo.courseLessonInfo4StayOpen}}">
        <view style='font-size: 30rpx;'>第{{courseInfo.courseLessonInfo4StayOpen.number}}课时 开课时间</view>
        <view class='time'>{{tools.turnToDay(courseInfo.courseLessonInfo4StayOpen.startAt)}}</view>
        <view class='btn' bindtap='toCode'>课前准备</view>
      </view>
      <view class='topCon' wx:else>
        <view style='font-size: 32rpx;'>本阶段课程已全部解锁</view>
      </view>
    </view>
    <view class='learnInfo'>
      <view class='infoTit'>
        <image src='../../../img/blocks.png' class='blockIcon'></image>
        <view>{{courseInfo.name}}</view>
        <text style='font-size: 24rpx;'>每周解锁2课时</text>
      </view>
      <view style='color: #333;font-size: 26rpx;' wx:if="{{courseInfo.unCommitCount > 0}}">
        还有<text style='color: #54C3D4;'>{{courseInfo.unCommitCount}}课时</text>等待小朋友提交作业哦！
      </view>
    </view>
    <view class='courseList'>
      <view class='list' wx:for="{{courseInfo.courseLessonInfoList}}">
        <view class='listLeft'>
          <view wx:if="{{item.lockFlag == 1 && index == nextUnlockIndex}}" class='listTime' style='color: #54C3D4;'>
            {{tools.turnToMinute(item.startAt)}} 开始上课
            <image src='../../../img/light.png' class='light'></image>
          </view>
          <view wx-if="{{item.lockFlag == 1 && index != nextUnlockIndex}}" class='listTime' style='color: #666;'>{{tools.turnToMinute(item.startAt)}} 开始上课</view>
          <view class='listTit'>第{{item.number}}课时 {{item.title}}</view>
          <view class='listDesc'>{{item.shortKnowledges}}</view>
        </view>
        <view class='listRight' wx:if="{{index <= nextUnlockIndex}}">
          <image wx:if="{{item.lockFlag == 2 && item.studentCourseHomeworkInfo.state == 3}}" src='../../../img/end.png' class='endIcon'></image>
          <view style='font-size: 26rpx;' bindtap='checkBook' data-book="{{item.textbookUrl}}">查看讲义</view>
        </view>
      </view>
    </view>
  <!-- </view> -->
  <!-- 无购买课程 -->
  <!-- <view class='noDataBody' wx:if="{{loginTokenNull || courseList.length == 0}}">
    <image src='../../img/noCourse.png' class='noDataIcon'></image>
    <view class='noDataText'>您还没有给孩子购买过课程呢～</view>
    <view class='noDataText'>现在就去看看吧！</view>
    <view class='submitBtn' style='margin-top: 56rpx;' bindtap='switchTab'>去购买课程</view>
  </view> -->
  </block>
</view>
