.inputInfo > view:first-child {
  border-bottom: 1px solid #e5e5e5;
}
.inputInfo .inputView {
  height: 98rpx;
  line-height: 98rpx;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30rpx;
  background: #fff;
}
.inputInfo input {
  height: 98rpx;
  line-height: 98rpx;
  padding-left: 30rpx;
  font-size: 30rpx;
}
.getCodeBtn {
  color: #54C3D4;
  height: 98rpx;
  line-height: 98rpx;
  margin-right: 60rpx;
}
.default {
  color: #888888;
  font-size: 30rpx;
}
.submitBtn {
  margin-top: 82rpx;
}
.tips {
  color: #999;
  margin-top: 22rpx;
  padding-left: 30rpx;
}